---
layout: default
---
<article class="post">

  <header class="post-header">
    <div class="col-sm-12">
      <div class="row">
        <h2 class="post-title">{{ page.title }}</h2>
      </div>
    </div>
  </header>
  <div class="post-content">
    <div class="row">
      <div class="col-sm-6">
        <h3>Learn Lean from the source.</h3>
        <p>
          Leancamp is an open conference where you set the topics.  You’ll meet people engaged in startups, corporations and a range of related fields — all sharing their experience in the name of progressing the state-of-the-art.
          <br>
          Leancamp is where many of the recent advances in startup thinking have taken place. The power of combining multiple communities of practice, and drawing on the strengths of a range of cities leads to rapid progress.
          <br>
          Everyone has the power to drive the Leancamp agenda, to contribute their experience, and to bring their challenges to thought-leaders and experienced founders who are creating faster ways to get traction.
          <br>
          Since participants drive the topics based on their needs, Leancamp is more timely and relevant than traditional conference formats – this is why we call it an un-conference!
        </p>
      </div>
      <div class="col-sm-6">
        <iframe width="500" height="400" src="https://www.youtube.com/embed/Uy-mrzPD3sI" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img src="/img/talkaoke.jpg"/>
      </div>
      <div class="col-sm-6">
        <h3>What happens at Leancamp?</h3>
        <p>
          <strong>Over 98% of Leancamp participants leave with actionable insight that they apply within a week or less</strong>, and most make long-lasting connections to collaborators and advisors.
          <br>
          Generalities and dogmatism have no place at Leancamp.  We focus on what people have done, and how it actually went. Leancamp is about sharing what’s new, not repeating the same tired axioms from the past.
          <br>
          Being an unconference there is no  pre-determined agenda. The agenda of each LeanCamp is made by the participants for the participants – facilitated by a Leancamp leader on the morning of the conference.
          <br>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Session formats</h3>
        <p>
        Anyone with a question, or willing to share their experience fill out a session card and briefly describe to everyone else what they’d like to learn or share. Proposing a session doesn’t take more than 30 seconds.
        <br>
        After the session is presented, the audience will show interest to the session by a show of hands. If the session generates enough early interest it will have a time and space allocated.
        <br>
        The only job of the initiator now is to make sure the proposed session starts on time and ends on time. Easy!
        <br>
        The sessions themselves are very interactive and open-ended, and most are run through pre-selected formats to help make sure they’re valuable.  Topics tend to be explored from new perspectives, and lots of practical advice is shared.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="/img/SessionSheet.jpg"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <blockquote>Show & Tell</blockquote>
        <p>
          Real experiences always help us learn. Take 10 to 15 minutes to share a particular experience. Walk us through it. It’s helpful to share what worked and what didn’t. Wrap up with a bit of “how to” or lessons learned. Open up the last 15 minutes for questions with a Fishbowl Discussion. (When you start the fishbowl, read out those rules.)
        </p>
        <blockquote>Open Interview</blockquote>
        <p>
          This is a great way to dig deep and learn from someone. Set this up as a Fishbowl Discussion, but the person being interviewed doesn’t have to leave their chair. (Read out the fishbowl rules.)
          Ask the person being interviewed introduce themselves for 2 minutes, then ask questions until someone else joins you. Stick around in the fishbowl to ask questions and keep the momentum going, but if the fishbowl gets full, be the first to step down. The Open Interview will take a life of its own.

          This is like the fishbowl, but the person being interviewed stays in the fishbowl, and the rest of the people can sit in and become the interviewer.
        </p>
        <blockquote>Ask an Expert</blockquote>
        <p>
          You get 15 minutes one-on-one with an expert of your choice, while the audience listens in. Allow the expert to introduce themself, then take a few minutes to frame your challenge
          and how they can help you.
          After 15 or 20 minutes, open it up to a Fishbowl Discussion.
        </p>
        <blockquote>Fishbowl</blockquote>
        <p>
          A fishbowl conversation is a fun form of dialog that allows the entire group to participate in a conversation, without the mess of everyone shouting from the audience.
          Arrange four chairs on stage. This is the fishbowl.

          The rules:

          Anyone is allowed to speak.
          You’re only allowed to speak if you’re sitting in the fishbowl. If you want to speak, come sit down!
          One chair must remain empty at all times. If someone fills the last chair, some else has to volunteer to go back to the audience.
          You’re allowed to come back to the fishbowl later.
          Invite participants to join you and whatever guests you have on stage in the fishbowl. If anyone speaks from the audience, stop them until they come join the fishbowl.
        </p>
        <blockquote>Tag Team</blockquote>
        <p>
          Multiple perspectives are always helpful to find a solution.
          As the host you’ll ask questions pertaining to your business. Try to frame the challenge, then ask “how to” questions.

          Invite your experts to the side of the stage. You can use your questions, or invite the audience to post their questions on the #leancamp hashtag on Twitter.

          Pick one expert and give them the stage and ask your first question, then the experts have up to 8 minutes for their response. Experts can “tag in” by putting their hand out. and the expert on stage gives them the stage by tagging them. Experts can add to the first response, or contradict it!
        </p>
        <blockquote>Group Advice</blockquote>
        <p>
          Take up to 5 minutes to explain your challenge. Pick something specific, and if possible,
          load up artefacts and examples on the projector. It’s great if you can show things like
          prototypes, screens, the actual product or your metrics dashboard if necessary.

          Aftewards, open it up as a Fishbowl, but keep the focus on advising you. It’s your
          challenge, so you can steer the discussion to what’s helpful to you.
        </p>
        <blockquote>Idea storm</blockquote>
        <p>
          This is a good way to share or generate ideas in a group. It starts with a question that your group will be brainstorming answers to. For example: “How can I figure out why customers don’t sign up?” or “What are different ways I can find more customers?” or “What the best metrics tricks you know?”
          Give the people 5 minutes to brainstorm answers individually, silently writing their ideas on separate sticky notes or pieces of paper. Write the question on a whiteboard.

          One idea per sheet.

          Ask the group to stick their notes to the wall and take 20-30 seconds per idea to present them. Go fast! If anyone’s items inspire others to write more, they’re welcome back!
          If you finish early, pick a few ideas and ask the submitter to elaborate.
        </p>
      </div>
    </div>
</article>
