---
layout: default
---
<article class="post">

  <header class="post-header">
    <div class="col-sm-12">
      <div class="row">
        <h2 class="post-title">{{ page.title }}</h2>
      </div>
    </div>
  </header>
  <div class="post-content">
    <div class="col-sm-12">
      <div class="row">
        <h2>Topics include Lean Startup, Design Thinking, Agile & Business Development</h2>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <img src="/img/about_pic1.jpg">
      </div>
      <div class="row">
        <h3>About Leancamp</h3>
      </div>
      <div class="row">
        <p>Leancamp is an open conference where you set the topics.  You’ll meet people engaged in startups, corporations and a range of related fields — all sharing their experience in the name of progressing the state of the art.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <img src="/img/about_pic2.jpg">
      </div>
      <div class="row">
        <h3>Join a Leancamp nearby!</h3>
      </div>
      <div class="row">
        <p>Leancamp runs from London, to San Fransisco, to Sofia, to Bangalore. More than 15 cities around the world!</p>
        <a href="{{ "/events" | prepend: site.baseurl }}">Find out about upcoming Leancamps</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <img src="/img/about_pic3.jpg">
      </div>
      <div class="row">
        <h3>Organize a Leancamp!</h3>
      </div>
      <div class="row">
        <p>Your city is not listed? Are you interested in doing a Leancamp in your city?</p>
        <a href="{{ "/organizers" | prepend: site.baseurl }}">Get in touch</a>
      </div>
    </div>
  </div>
</article>
